.line{
    width:175px;
    height:2px;
    background-color: black;
    margin:auto;
}
body{
    text-align: center;
    background: linear-gradient(#eaf07a,#f0cc62);
    background-repeat: no-repeat;
    background-size:fill;
}
#Mygames img{
    width:300px;
    height:350px;
    transition: transform 0.2s;
    margin:15px;
}
img:hover{
transform:scale(1.1);

}
#myslide{
background-color: aquamarine;
}